<!doctype html>
<html lang="en" xmlns:th="http://www.themyleaf.org" >
<head th:replace="layout/navbar::html_header">
	<meta charset="UTF-8" />
	<title></title>

</head>
<body>
	<nav th:replace="layout/navbar::navbar"></nav>
	<section> 
	<div class="container">
		<div>
			<h1>You have signed up successfuly!</h1>
		</div>
	<div>
		<h3><a href="#" th:href="@{/login}">Click here to login</a></h3>
	</div>

	</div>
	
	</section>
	<footer id="hostTag" th:replace="layout/footer::footer"> </footer>

</body>
</html>