<!doctype html>
<html lang="en" xmlns:th="http://www.themyleaf.org" >
<head th:replace="layout/navbar::html_header">
	<meta charset="UTF-8" />
	<title></title>

</head>
<body>
	<nav th:replace="layout/navbar::navbar"></nav>
	<section> 
	<div class="container col-6">
    
		<div class="text-center">
		
			<h1>Edit Category</h1>
		</div>
		<form th:action="@{/category/edit}" th:object="${category}" method="POST">
		<input type="hidden" class="form-control" id="id" th:field="*{id}"  required>
    
     <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" th:field="*{name}" minlength="2" maxlength="20" required>
    </div>
    
    <button type="submit" class="btn btn-primary">Update</button>
  </form>

	</div>
	
	</section>
	<footer id="hostTag" th:replace="layout/footer::footer"> </footer>

</body>
</html>