<!doctype html>
<html lang="en" xmlns:th="http://www.themyleaf.org">
<head th:replace="layout/navbar :: html_header">
	<meta charset="UTF-8" />
	<title></title>

</head>
<body>
	<nav th:replace="layout/navbar :: navbar"></nav>
	<section> 
	<div class="container col-6">
    
		<div class="text-center">
			<h1>Save Archive</h1>
		</div>
		<form enctype="multipart/form-data" th:action="@{/archive/register-archive}" 
		  th:object="${archive}" method="POST">
		<div class="form-group">
      <label for="category" >Category:</label>
     <select th:field="*{category}">
         <option value="">Select Category</option>
          <option th:each="categories : ${listCategories}"
           th:value="${categories.id}"
           th:text="${categories.name}"/>
      </select>
    </div>
    <div class="form-group">
      <label for="title" >Title:</label>
      <input type="text" class="form-control" id="title" name="title" th:field="*{title}"  minlength="2" maxlength="20" required>
    </div>
    <div class="form-group">
      <label for="numberArchive" >Number Archive:</label>
      <input type="text" class="form-control" id="numberArchive" name="numberArchive" th:field="*{numberArchive}"  minlength="1" maxlength="500" required>
    </div>
    <div class="form-group">
      <label for="imageArchive" >Image:</label>
      <input type="file" class="form-control" id="imageArchive" name="imageArchive" >
    </div>
    
    <button type="submit"  class="btn btn-primary">Save</button>
  </form>
    
	
	</section>
	<footer id="hostTag" th:replace="layout/footer :: footer"> </footer>
    
</body>
</html>